<table>
  <thead>
    <tr>
      <td></td>
      <% @lineup.times.each do |t| %>
        <th class="guide-time">
          <%= t.strftime '%l:%M' %>
        </th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @lineup[:channels].each do |ch| %>
      <tr>
        <th class="guide-channel">
          <%= link_to ch[:channel], channel_path(ch[:channel]) %>
        </th>
        <td colspan="<%= @lineup.times.size %>">
          <% ch[:entries].each do |entry| %>
            <div class="guide-program-ct" style="width: <%= entry[:percentage_of_total] %>%;">
              <span class="guide-program">
                <%= entry[:program].name.titleize %>
              </span>
            </div>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>