<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Network Executive: <%= network_name %></title>
    <link href='//fonts.googleapis.com/css?family=Lekton:400,700|Quicksand:300,400,700' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag 'network_executive', media:'all' %>
    <base href="<%= network_executive.root_url %>"/>
  </head>
  <body>
    <iframe id="program" class="gui-comp"></iframe>
    <div id="smpte">
      <h1 id="smpte_message" class="msg"></h1>
      <aside class="network-name"><%= network_name %></aside>
    </div>
    <div id="osd" class="gui-comp">
      <header>
        <h1 class="network-name">
          <%= network_name %>
          <aside class="osd-now">
            <time class="osd-now-time">
              <%= Time.current.strftime( '%l:%M%P') %>
            </time>
            <small class="osd-now-date">
              <%= Time.current.strftime( '%B %e, %Y' ) %>
            </small>
          </aside>
        </h1>
      </header>
      <article id="guide" class="guide"></article>
    </div>

    <%= javascript_include_tag 'network_executive' %>
  </body>
</html>